nav.main-nav
  ul.nav
    li.name
      a(href='index.html').animsition-link Anthony Veaudry
    li
      a(href='index.html')#home.animsition-link Home
    li
      a(href='experience.html')#experience.animsition-link Experience
    li
      a(href='photos.html')#photos.animsition-link Photos
    li
      a(href='contact.html')#contact.animsition-link Contact
