ul
  li
    a.social.twitter(href='https://twitter.com/anthonyveaudry') Twitter
  li
    a.social.linkedin(href='https://www.linkedin.com/in/anthonyveaudry/') LinkedIn
  li
    a.social.github(href='https://github.com/anthony0030') Github
p.copyright Copyright 2017, Anthony Veaudry