
meta(charset='utf-8')
title Anthony Veaudry's Profile
meta(name='viewport', content='width=device-width, initial-scale=1.0')
link(rel='stylesheet', href='styles.css')
link(href='https://fonts.googleapis.com/css?family=Muli%7CRoboto:400,300,500,700,900', rel='stylesheet')
link(href='https://fonts.googleapis.com/css?family=Indie+Flower', rel='stylesheet')
script(src="js/script.js")
include ../_favicon