nav.main-nav
  ul.nav
    li.name 
      a(href='index.html') Anthony Veaudry
    li
      a(href='index.html', id="home") Home
    li
      a(href='experience.html', id="experience") Experience
    li
      a(href='photos.html', id="photos") Photos
    li
      a(href='contact.html', id="contact") Contact
