nav.main-nav
  ul.nav
    li.name 
      a(href='index.html').animsition-link Anthony Veaudry
    li
      a(href='index.html', id="home").animsition-link  Home
    li
      a(href='experience.html', id="experience").animsition-link  Experience
    li
      a(href='photos.html', id="photos").animsition-link  Photos
    li
      a(href='contact.html', id="contact").animsition-link  Contact
