doctype html
html(lang='en')
  head
    include partials/head
    link(rel='stylesheet', href='flip.css')
  body
    include partials/main-nav
    script active_menu_item("contact")
    header
      include partials/header
    main.flex

      a(href="anthony.vcf" download)
        div.flip-container(ontouchstart="this.classList.toggle('hover')",title="Click Me to Download")
          div.flipper
            div.front
              img.bcard(src="images/contact_card/front.jpg", alt="The front of my contact card")
            div
            div.back
              img.bcard(src="images/contact_card/back.jpg", alt="The back of my contact card")
            div
          div
        div

    footer
      include partials/footer