doctype html
html(lang='en')
  head
    include partials/head
  body
    include partials/main-nav
    script active_menu_item("experience")
    header
      include partials/header
    main.flex
      div.card
        h1 Experience
        h2 I refuse to disclose my experience.
        h3 Therefore you get to read this instead:
        h4 I hereby claim this website as my own! <br>
        p
        |  If you are reading this, you are on <em>my website</em> and you are asked <strong>not</strong> to refresh this page often, because I don't want my server bill to go up!
    footer
      include partials/footer