doctype html
html(lang='en')
  head
    include partials/head
    script(src="js/slideshow.js")
  body
    include partials/main-nav
    header
      button &#10094;
      button &#10095;
    main.flex
    footer
      include partials/footer